html,
body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button,
input {
  color: #eee;
  line-height: 1.25;
  padding: 0.2rem 0.25rem;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: transparent;
}

.site {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #eee;
  min-height: 100%;
}

.site__header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5rem 2rem;
  background-color: #333;
  border-bottom: 1px solid #eee;
}

.site__title {
  font-size: 1.3rem;
  margin: 0;
}

.site__main {
  min-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 1rem 0;
}

.site__options {
  margin: 2rem auto;
  max-width: 600px;
}

.site__options-fieldset {
  margin: 1rem 0;
}

.site__options-fieldset + .site__options-fieldset {
  margin-left: 1rem;
}

.site__options-fieldset-container {
  display: flex;
  margin-bottom: 1.5rem;
}

.site__floating-action {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  z-index: 999;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  background-color: #333;
}

.options__url-form {
  width: 100%;
}

.options__url-input {
  width: 100%;
}

.frame__list {
  display: flex;
  overflow-y: scroll;
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}

.frame__info {
  display: flex;
  align-items: baseline;
}

.frame__device-name {
  margin-bottom: 0;
}

.frame__edit-btn {
  margin: 0 1rem;
}

.frame__container {
  margin: 1rem;
  padding-right: 3rem;
}

.frame__window {
  margin-top: 1rem;
  border: 2px solid #d2d2d2;
}

.frame__dimensions-form {
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 1rem 0;
}

.frame__dimensions-label {
  margin-right: 1rem;
}

.frame__dimensions-label + .frame__dimensions-label {
  margin-left: 1rem;
}

.frame__dimensions-input {
  width: 50px;
}
