html,
body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.25;
}

button,
input {
  line-height: 1.25;
  padding: 0.2rem 0.25rem;
  border: 1px solid #222;
  border-radius: 3px;
  background-color: transparent;
}

.site {
}

.site__header {
  max-width: 600px;
  margin: 0 auto;
}

.site__main {
  text-align: center;
}

.frame__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.frame__container {
  margin: 1rem;
}

.frame__window {
  border: 2px solid #d2d2d2;
}

.frame__dimensions-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame__dimensions-input {
  width: 50px;
}
